// asdk;lajsdlkajdlkajsdaj
/*asdas;ljdalksjd'lajdlakjdl'asdjklkasjdlakjsaldk*/
html{
	border:1px solid blue;
	background:#fff;
}
body{
	height: 200px;
	background: url('../images/main/HTML5CSS3Logos1.jpg') left center;
	transform: translate3d(0, 0, 0);
}

a {
	font-size: 20px;
	font-weight: bold;
	border: 1px solid red;
}