
//메뉴 아이콘
$nav-icon :
    (all,25px),
    (animation,25px),
    (banner,25px),
    (etc,25px),
    (flow,25px),
    (navigation,25px),
    (page,25px),
    (reference,25px),
    (scroll,25px),
    (splash,25px),
    (states,25px),
    (component,25px);
//메뉴 아이콘
$tool-icon :
    (framer,24px),
    (framerx,24px),
    (lottie,24px),
    (principle,24px),
    (sketch,24px),
    (HTML,24px);


/* 메뉴 */
@each $iconName,$iconSize in $nav-icon {
  .nav-wrap {
    .icon-#{$iconName} {
      display:inline-block;
      width:$iconSize;
      height:$iconSize;
      margin-right:13px;
      background-image:url('https://kimhyunwoooo.github.io/guide/images/ic-left-' + $iconName + '-off@2x.png');
      background-size:$iconSize $iconSize;
      background-repeat:no-repeat;
      vertical-align:top;
    }
    .link-nav:hover {
      .icon-#{$iconName} {
        background-image:url('https://kimhyunwoooo.github.io/guide/images/ic-left-' + $iconName + '-on@2x.png');
      }
    }
    .on {
      .link-nav {
        .icon-#{$iconName} {
          background-image: url('https://kimhyunwoooo.github.io/guide/images/ic-left-' + $iconName + '-active@2x.png');
        }
      }
    }
  }
}

//tool 메뉴
@each $toolName,$toolSize in $tool-icon {
  .icon-#{$toolName} {
    display:inline-block;
    width:$toolSize;
    height:$toolSize;
    margin-right:21px;
    background-image:url('https://kimhyunwoooo.github.io/guide/images/ic-' + $toolName + '@2x.png');
    background-size:$toolSize $toolSize;
    background-repeat:no-repeat;
    vertical-align:top;
  }
}



//태그 모듈
.link-tag {
  display:block;
  padding:0 12px;
  font-size:10px;
  line-height:22px;
  color:$gray20;
  border:1px solid $gray20;
  box-sizing:border-box;
  border-radius:22px;
  transition:all .15s;
  &:hover {
    color:$secondary;
    border-color:$secondary;
    text-decoration: none;
  }
  &:active,&.on-tag {
    background:$secondary;
    border-color:$secondary;
    color:#fff;
    transition:none;
  }
}


@keyframes hoverAnimation {
  0% {
    opacity: 1;
    -webkit-transform: scale(.96);
    transform: scale(.96)
  }

  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1)
  }
}


@keyframes show-in {
  from {opacity:0;transform:translateY(5px)}
  to {opacity:1;transform:translateY(0px)}
}

//모달 레이어
.modal {
  background:#FFF;
  animation-duration: .15s;
  animation-name: show-in;
  animation-timing-function :ease-in-out;
  .modal-cont {
    position:relative;
    width:1050px;
    margin:0 auto;
    padding-left:100px;
    box-sizing:border-box;
  }
  .text-cate {
    display:block;
    @include font-style-item(block,16px,22px,$primary,bold);
  }
  .title {
    overflow:hidden;
    .title-item {
      @include head-lv1;
      line-height:44px;
      display:inline-block;
      vertical-align:top;
      margin-right:10px;
    }
    .wrap-tag {
      display:inline-block;
      vertical-align:top;
      margin-top:11px;
      > li {
        display:inline-block;
        vertical-align:top;
        margin-right:2px;
      }
    }
  }
  .text-desc {
    word-break: keep-all;
    @include font-style-item(block,11px,14px,$gray80,normal);
    margin-top:7px;
  }
  .text-type {
    @include font-style-item(block,11px,14px,$gray40,normal);
    margin-top:10px;
  }
  .detail-cont {
    overflow:hidden;
    width:950px;
    padding-top:35px;
    .detail-phone {
      float:left;
      width:355px;
      .bg-phone {
        display:block;
        width:355px;
        height:743px;
        padding-top:85px;
        box-sizing:border-box;
        background:url('https://kimhyunwoooo.github.io/guide/images/body@3x.png') no-repeat;
        background-position:50% 0;
        background-size:355px 743px;
      }
      .box-gif {
        display:block;
        width:322px;
        height:572px;
        margin:0 auto;
        background-size:cover;
        background-position:50%;
        background-repeat:no-repeat;
      }
    }
    .detail-code {
      float:right;
      width:560px;
    }
    .link-example {
      margin-top:37px;
      text-align:center;
      @include font-style-item(inline-block,10px,14px,$gray45,normal);
      display:block;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  .link-close {
    overflow:hidden;
    position:absolute;
    top:0;
    left:0;
    width:49px;
    height:17px;
    padding:15px;
    text-align:right;
    > img {
      display:inline-block;
      text-align:right;
      width:44px;
      height:17px;
      transition:.15s ease-in-out;
    }
    &:hover {
      >img {
        width:49px;
      }
    }
  }
}
