
//메뉴 아이콘
$nav-icon :
    (all,25px),
    (animation,25px),
    (banner,25px),
    (etc,25px),
    (flow,25px),
    (navigation,25px),
    (page,25px),
    (reference,25px),
    (scroll,25px),
    (splash,25px),
    (states,25px),
    (component,25px);
//메뉴 아이콘
$tool-icon :
    (framer,24px),
    (framerx,24px),
    (lottie,24px),
    (principle,24px),
    (sketch,24px),
    (HTML,24px);


/* 메뉴 */
@each $iconName,$iconSize in $nav-icon {
  .nav-wrap {
    .icon-#{$iconName} {
      display:inline-block;
      width:$iconSize;
      height:$iconSize;
      margin-right:13px;
      background-image:url('../images/ic-left-' + $iconName + '-off@2x.png');
      background-size:$iconSize $iconSize;
      background-repeat:no-repeat;
      vertical-align:top;
    }
    .link-nav:hover {
      .icon-#{$iconName} {
        background-image:url('../images/ic-left-' + $iconName + '-on@2x.png');
      }
    }
    .on {
      .link-nav {
        .icon-#{$iconName} {
          background-image: url('../images/ic-left-' + $iconName + '-active@2x.png');
        }
      }
    }
  }
}

//tool 메뉴
@each $toolName,$toolSize in $tool-icon {
  .icon-#{$toolName} {
    display:inline-block;
    width:$toolSize;
    height:$toolSize;
    margin-right:21px;
    background-image:url('../images/ic-' + $toolName + '@2x.png');
    background-size:$toolSize $toolSize;
    background-repeat:no-repeat;
    vertical-align:top;
  }
}



//태그 모듈
.link-tag {
  display:block;
  padding:0 12px;
  font-size:10px;
  line-height:22px;
  color:$gray20;
  border:1px solid $gray20;
  box-sizing:border-box;
  border-radius:22px;
  transition:all .15s;
  &:hover {
    color:$secondary;
    border-color:$secondary;
    text-decoration: none;
  }
  &:active {
    background:$secondary;
    color:#fff;
    transition:none;
  }
}
